@model IEnumerable<web.Models.Rating>

@{
    ViewData["Title"] = "Index";
}

<h1>Ratings</h1>

<p>
    <a asp-action="Create">Add Your Rating</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Menu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Menu.FoodName)
                </td>
                <td>
                    <img src="~/images/@(item.value).png" width="100" height="20"/>
                </td>
                <td>
                    @if (ViewContext.HttpContext.User.IsInRole("Administrator"))
                        {<a asp-action="Edit" asp-route-id="@item.RatingID">Edit</a>} |
                    <a asp-action="Details" asp-route-id="@item.RatingID">Details</a> |
                    @if (ViewContext.HttpContext.User.IsInRole("Administrator"))
                        {<a asp-action="Delete" asp-route-id="@item.RatingID">Delete</a>}
                </td>
            </tr>
        }
    </tbody>
</table>
