@model IEnumerable<web.Models.Menu>

@{
    ViewData["Title"] = "Index";
}

<h1>Menus</h1>

@if (ViewContext.HttpContext.User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Create New Menu</a>
    </p> 
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                Average Rating
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodName)
                </td>
                <td>
                    <img src="~/images/@(item.AvgRating).png" width="100" height="20"/>
                </td>
                <td>
                    @if (ViewContext.HttpContext.User.IsInRole("Administrator"))
                        {<a asp-action="Edit" asp-route-id="@item.MenuID">Edit</a>} |
                    <a asp-action="Details" asp-route-id="@item.MenuID">Details</a> |
                    @if (ViewContext.HttpContext.User.IsInRole("Administrator"))
                        {<a asp-action="Delete" asp-route-id="@item.MenuID">Delete</a>}
                </td>
            </tr>
        }
    </tbody>
</table>
